[class^="icon-"], [class*=" icon-"] {
  font-family: 'crm';
  font-style: normal;
  font-weight: normal;
 
  /* fix buttons height */
  line-height: 1em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}
 
.icon-linkedin { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe800;&nbsp;'); }
.icon-alarm-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe801;&nbsp;'); }
.icon-alarm { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe802;&nbsp;'); }
.icon-alignleft { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe803;&nbsp;'); }
.icon-alignright { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe804;&nbsp;'); }
.icon-whatsapp-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe805;&nbsp;'); }
.icon-gmail { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe806;&nbsp;'); }
.icon-viber { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe807;&nbsp;'); }
.icon-avi { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe808;&nbsp;'); }
.icon-briefcase { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe809;&nbsp;'); }
.icon-facebook { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80a;&nbsp;'); }
.icon-csv-import { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80b;&nbsp;'); }
.icon-twitter { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80c;&nbsp;'); }
.icon-cancel { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80d;&nbsp;'); }
.icon-chat { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80e;&nbsp;'); }
.icon-check { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80f;&nbsp;'); }
.icon-chevron { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe810;&nbsp;'); }
.icon-help-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe811;&nbsp;'); }
.icon-clicker { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe812;&nbsp;'); }
.icon-clip { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe813;&nbsp;'); }
.icon-doc { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe814;&nbsp;'); }
.icon-file-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe815;&nbsp;'); }
.icon-jpg { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe816;&nbsp;'); }
.icon-compass { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe817;&nbsp;'); }
.icon-copy { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe818;&nbsp;'); }
.icon-creditcard { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe819;&nbsp;'); }
.icon-mp3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81a;&nbsp;'); }
.icon-cube-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81b;&nbsp;'); }
.icon-pdf { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81c;&nbsp;'); }
.icon-png { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81d;&nbsp;'); }
.icon-export { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81e;&nbsp;'); }
.icon-dashboard { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81f;&nbsp;'); }
.icon-ppt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe820;&nbsp;'); }
.icon-diamond { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe821;&nbsp;'); }
.icon-psd { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe822;&nbsp;'); }
.icon-xls { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe823;&nbsp;'); }
.icon-dislike { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe824;&nbsp;'); }
.icon-downarrow-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe825;&nbsp;'); }
.icon-downarrow-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe826;&nbsp;'); }
.icon-downarrow { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe827;&nbsp;'); }
.icon-skype { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe828;&nbsp;'); }
.icon-reply { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe829;&nbsp;'); }
.icon-edit { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe82a;&nbsp;'); }
.icon-eraser-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe82f;&nbsp;'); }
.icon-reply-all { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe831;&nbsp;'); }
.icon-exposure-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe832;&nbsp;'); }
.icon-file { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe834;&nbsp;'); }
.icon-filter { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe835;&nbsp;'); }
.icon-flag { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe837;&nbsp;'); }
.icon-folder { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe838;&nbsp;'); }
.icon-followers { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe839;&nbsp;'); }
.icon-instagram { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe83c;&nbsp;'); }
.icon-home { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe83e;&nbsp;'); }
.icon-exposure-increase { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe83f;&nbsp;'); }
.icon-idea { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe840;&nbsp;'); }
.icon-java-script { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe842;&nbsp;'); }
.icon-justify { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe844;&nbsp;'); }
.icon-leaf { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe846;&nbsp;'); }
.icon-leftarrow-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe848;&nbsp;'); }
.icon-leftarrow-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe849;&nbsp;'); }
.icon-leftarrow { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe84a;&nbsp;'); }
.icon-like { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe84b;&nbsp;'); }
.icon-link { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe84c;&nbsp;'); }
.icon-loading { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe84d;&nbsp;'); }
.icon-login { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe84e;&nbsp;'); }
.icon-logout { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe84f;&nbsp;'); }
.icon-medal { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe850;&nbsp;'); }
.icon-megaphone { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe851;&nbsp;'); }
.icon-menu-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe852;&nbsp;'); }
.icon-menu { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe853;&nbsp;'); }
.icon-minus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe856;&nbsp;'); }
.icon-paste { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe861;&nbsp;'); }
.icon-pencil-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe863;&nbsp;'); }
.icon-photocamera { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe867;&nbsp;'); }
.icon-picture { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe868;&nbsp;'); }
.icon-piechart { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe869;&nbsp;'); }
.icon-piggybank { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe86a;&nbsp;'); }
.icon-play { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe86d;&nbsp;'); }
.icon-plus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe86e;&nbsp;'); }
.icon-puzzle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe872;&nbsp;'); }
.icon-external-link-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe874;&nbsp;'); }
.icon-refresh { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe875;&nbsp;'); }
.icon-removeuser { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe876;&nbsp;'); }
.icon-rightarrow-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe87a;&nbsp;'); }
.icon-rightarrow { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe87b;&nbsp;'); }
.icon-scale { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe87e;&nbsp;'); }
.icon-eye-slash { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe87f;&nbsp;'); }
.icon-settings { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe880;&nbsp;'); }
.icon-shield { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe882;&nbsp;'); }
.icon-shoppingcart { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe883;&nbsp;'); }
.icon-shuffle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe884;&nbsp;'); }
.icon-star { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe88a;&nbsp;'); }
.icon-react { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe88c;&nbsp;'); }
.icon-tag { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe891;&nbsp;'); }
.icon-target { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe892;&nbsp;'); }
.icon-tools { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe895;&nbsp;'); }
.icon-umbrella { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe899;&nbsp;'); }
.icon-uparrow-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe89a;&nbsp;'); }
.icon-uparrow-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe89b;&nbsp;'); }
.icon-uparrow { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe89c;&nbsp;'); }
.icon-user-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe89f;&nbsp;'); }
.icon-user { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8a0;&nbsp;'); }
.icon-videocamera { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8a2;&nbsp;'); }
.icon-wallclock { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8a4;&nbsp;'); }
.icon-eye { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8a5;&nbsp;'); }
.icon-bar-chart { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8aa;&nbsp;'); }
.icon-book { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8ac;&nbsp;'); }
.icon-cancel-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8ae;&nbsp;'); }
.icon-checked-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8af;&nbsp;'); }
.icon-checked { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8b0;&nbsp;'); }
.icon-circular { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8b1;&nbsp;'); }
.icon-clipboard-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8b2;&nbsp;'); }
.icon-clipboard { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8b3;&nbsp;'); }
.icon-clock { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8b4;&nbsp;'); }
.icon-cloud-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8b9;&nbsp;'); }
.icon-computer { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8bb;&nbsp;'); }
.icon-devices { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8be;&nbsp;'); }
.icon-messenger { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8bf;&nbsp;'); }
.icon-file-blank { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8c0;&nbsp;'); }
.icon-download-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8c1;&nbsp;'); }
.icon-download-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8c2;&nbsp;'); }
.icon-download-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8c3;&nbsp;'); }
.icon-edit-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8c5;&nbsp;'); }
.icon-folder-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8cb;&nbsp;'); }
.icon-head-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8cd;&nbsp;'); }
.icon-head { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8ce;&nbsp;'); }
.icon-heart-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8d0;&nbsp;'); }
.icon-laptop { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8d3;&nbsp;'); }
.icon-light-bulb { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8d6;&nbsp;'); }
.icon-like-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8d7;&nbsp;'); }
.icon-doc-text-inv-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8d8;&nbsp;'); }
.icon-login-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8d9;&nbsp;'); }
.icon-login-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8da;&nbsp;'); }
.icon-logout-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8db;&nbsp;'); }
.icon-logout-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8dc;&nbsp;'); }
.icon-next-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8e4;&nbsp;'); }
.icon-next-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8e5;&nbsp;'); }
.icon-paper-plane { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8ea;&nbsp;'); }
.icon-phone-call { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8ed;&nbsp;'); }
.icon-pie-chart { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8f1;&nbsp;'); }
.icon-piggy-bank { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8f2;&nbsp;'); }
.icon-placeholder { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8f3;&nbsp;'); }
.icon-plug { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8f6;&nbsp;'); }
.icon-power-button { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8f7;&nbsp;'); }
.icon-reload { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8f9;&nbsp;'); }
.icon-repeat { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8fc;&nbsp;'); }
.icon-search { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe900;&nbsp;'); }
.icon-shuffle-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe907;&nbsp;'); }
.icon-file-exclamation-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe914;&nbsp;'); }
.icon-upload-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe91e;&nbsp;'); }
.icon-users { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe927;&nbsp;'); }
.icon-file-landscape-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe929;&nbsp;'); }
.icon-file-landscape { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe92a;&nbsp;'); }
.icon-file-minus-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe92e;&nbsp;'); }
.icon-file-minus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe930;&nbsp;'); }
.icon-file-network { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe934;&nbsp;'); }
.icon-filter-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe936;&nbsp;'); }
.icon-hold { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe937;&nbsp;'); }
.icon-flask-potion { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe938;&nbsp;'); }
.icon-layers { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe939;&nbsp;'); }
.icon-move { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe93e;&nbsp;'); }
.icon-paintpalette { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe940;&nbsp;'); }
.icon-pencil { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe945;&nbsp;'); }
.icon-zoomin { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe959;&nbsp;'); }
.icon-zoomout { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe95a;&nbsp;'); }
.icon-github { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9a1;&nbsp;'); }
.icon-add { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9a2;&nbsp;'); }
.icon-minus-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9a3;&nbsp;'); }
.icon-terminal { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9a4;&nbsp;'); }
.icon-angle-down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9a6;&nbsp;'); }
.icon-wifi { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9a7;&nbsp;'); }
.icon-calendar-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9a8;&nbsp;'); }
.icon-calender { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9aa;&nbsp;'); }
.icon-airplay { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9ab;&nbsp;'); }
.icon-align-center-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9ad;&nbsp;'); }
.icon-align-center-justify { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9ae;&nbsp;'); }
.icon-align-center { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9b0;&nbsp;'); }
.icon-align-justify { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9b1;&nbsp;'); }
.icon-align-left-justify { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9b2;&nbsp;'); }
.icon-align-left { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9b3;&nbsp;'); }
.icon-align-right { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9b6;&nbsp;'); }
.icon-align { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9b7;&nbsp;'); }
.icon-ambulance { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9b8;&nbsp;'); }
.icon-analysis { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9b9;&nbsp;'); }
.icon-analytics { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9ba;&nbsp;'); }
.icon-anchor { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9bb;&nbsp;'); }
.icon-angle-double-down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9bd;&nbsp;'); }
.icon-angle-double-left { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9be;&nbsp;'); }
.icon-angle-double-right { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9bf;&nbsp;'); }
.icon-angle-double-up { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9c0;&nbsp;'); }
.icon-angle-left { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9c1;&nbsp;'); }
.icon-angle-right-b { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9c2;&nbsp;'); }
.icon-angle-right { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9c3;&nbsp;'); }
.icon-angle-up { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9c4;&nbsp;'); }
.icon-apple-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9c8;&nbsp;'); }
.icon-apps { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9ca;&nbsp;'); }
.icon-archive-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9cb;&nbsp;'); }
.icon-arrow-circle-down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9ce;&nbsp;'); }
.icon-arrow-circle-left { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9cf;&nbsp;'); }
.icon-arrow-circle-right { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9d0;&nbsp;'); }
.icon-arrow-circle-up { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9d1;&nbsp;'); }
.icon-arrow-down-left { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9d3;&nbsp;'); }
.icon-arrow-down-right { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9d4;&nbsp;'); }
.icon-arrow-down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9d5;&nbsp;'); }
.icon-arrow-from-right { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9d6;&nbsp;'); }
.icon-arrow-from-top { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9d7;&nbsp;'); }
.icon-arrow-growth { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9d8;&nbsp;'); }
.icon-arrow-left { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9d9;&nbsp;'); }
.icon-arrow-random { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9da;&nbsp;'); }
.icon-arrow-resize-diagonal { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9db;&nbsp;'); }
.icon-arrow-right { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9dc;&nbsp;'); }
.icon-arrow-to-bottom { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9dd;&nbsp;'); }
.icon-arrow-to-right { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9de;&nbsp;'); }
.icon-arrow-up-left { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9df;&nbsp;'); }
.icon-arrow-up-right { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9e0;&nbsp;'); }
.icon-arrow-up { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9e1;&nbsp;'); }
.icon-arrows-h { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9e3;&nbsp;'); }
.icon-arrows-left-down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9e4;&nbsp;'); }
.icon-arrows-maximize { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9e5;&nbsp;'); }
.icon-arrows-right-down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9e7;&nbsp;'); }
.icon-arrows-up-right { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9e8;&nbsp;'); }
.icon-at { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9eb;&nbsp;'); }
.icon-atm-card { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9ec;&nbsp;'); }
.icon-award-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9ed;&nbsp;'); }
.icon-award { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9ee;&nbsp;'); }
.icon-backspace { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9f0;&nbsp;'); }
.icon-backward { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9f1;&nbsp;'); }
.icon-bag-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9f2;&nbsp;'); }
.icon-ban { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9f6;&nbsp;'); }
.icon-bars { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9f7;&nbsp;'); }
.icon-bath { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9f9;&nbsp;'); }
.icon-bell-school { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9fd;&nbsp;'); }
.icon-bell-slash { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9fe;&nbsp;'); }
.icon-bell { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9ff;&nbsp;'); }
.icon-bill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea00;&nbsp;'); }
.icon-bolt-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea03;&nbsp;'); }
.icon-book-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea06;&nbsp;'); }
.icon-book-medical { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea07;&nbsp;'); }
.icon-book-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea08;&nbsp;'); }
.icon-book-reader { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea09;&nbsp;'); }
.icon-book-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea0a;&nbsp;'); }
.icon-bookmark-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea0c;&nbsp;'); }
.icon-box { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea0d;&nbsp;'); }
.icon-briefcase-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea0e;&nbsp;'); }
.icon-bright { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea10;&nbsp;'); }
.icon-brightness-low { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea13;&nbsp;'); }
.icon-brightness-plus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea15;&nbsp;'); }
.icon-brightness-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea16;&nbsp;'); }
.icon-brush-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea17;&nbsp;'); }
.icon-bug { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea18;&nbsp;'); }
.icon-building { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea19;&nbsp;'); }
.icon-bus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea1d;&nbsp;'); }
.icon-calcualtor { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea1e;&nbsp;'); }
.icon-calling { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea21;&nbsp;'); }
.icon-camera-plus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea23;&nbsp;'); }
.icon-camera-slash { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea24;&nbsp;'); }
.icon-camera { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea25;&nbsp;'); }
.icon-cancel-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea26;&nbsp;'); }
.icon-capsule { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea27;&nbsp;'); }
.icon-capture { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea28;&nbsp;'); }
.icon-car { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea2c;&nbsp;'); }
.icon-caret-right { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea2e;&nbsp;'); }
.icon-cart { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea2f;&nbsp;'); }
.icon-cell { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea30;&nbsp;'); }
.icon-chart-bar-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea31;&nbsp;'); }
.icon-chart-bar { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea32;&nbsp;'); }
.icon-chart-down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea33;&nbsp;'); }
.icon-chart-growth-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea34;&nbsp;'); }
.icon-chart-growth { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea35;&nbsp;'); }
.icon-chart-line { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea36;&nbsp;'); }
.icon-chart-pie-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea37;&nbsp;'); }
.icon-chart-pie { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea38;&nbsp;'); }
.icon-chart { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea39;&nbsp;'); }
.icon-chat-bubble-user { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea3a;&nbsp;'); }
.icon-chat-info { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea3b;&nbsp;'); }
.icon-chat-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea3c;&nbsp;'); }
.icon-check-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea3d;&nbsp;'); }
.icon-check-square { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea3e;&nbsp;'); }
.icon-check-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea3f;&nbsp;'); }
.icon-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea40;&nbsp;'); }
.icon-circuit { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea41;&nbsp;'); }
.icon-clipboard-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea43;&nbsp;'); }
.icon-clipboard-blank { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea44;&nbsp;'); }
.icon-clipboard-notes { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea45;&nbsp;'); }
.icon-clipboard-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea46;&nbsp;'); }
.icon-clock-eight { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea47;&nbsp;'); }
.icon-cloud-check { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea52;&nbsp;'); }
.icon-cloud-data-connection { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea54;&nbsp;'); }
.icon-cloud-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea64;&nbsp;'); }
.icon-code { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea66;&nbsp;'); }
.icon-coffee { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea67;&nbsp;'); }
.icon-cog { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea68;&nbsp;'); }
.icon-columns-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea69;&nbsp;'); }
.icon-comment-alt-block { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea6a;&nbsp;'); }
.icon-comment-alt-chart-lines { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea6b;&nbsp;'); }
.icon-comment-alt-check { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea6c;&nbsp;'); }
.icon-comment-alt-dots { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea6d;&nbsp;'); }
.icon-comment-alt-edit { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea6f;&nbsp;'); }
.icon-comment-alt-exclamation { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea70;&nbsp;'); }
.icon-comment-alt-heart { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea71;&nbsp;'); }
.icon-comment-alt-info { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea73;&nbsp;'); }
.icon-comment-alt-lines { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea74;&nbsp;'); }
.icon-comment-alt-lock { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea75;&nbsp;'); }
.icon-comment-alt-medical { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea76;&nbsp;'); }
.icon-comment-alt-message { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea77;&nbsp;'); }
.icon-comment-alt-notes { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea78;&nbsp;'); }
.icon-comment-alt-plus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea79;&nbsp;'); }
.icon-comment-alt-question { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea7a;&nbsp;'); }
.icon-comment-alt-redo { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea7b;&nbsp;'); }
.icon-comment-alt-search { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea7c;&nbsp;'); }
.icon-comment-alt-shield { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea7e;&nbsp;'); }
.icon-comment-alt-upload { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea80;&nbsp;'); }
.icon-comment-alt-verify { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea81;&nbsp;'); }
.icon-comment-alt-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea82;&nbsp;'); }
.icon-comment-block { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea83;&nbsp;'); }
.icon-comment-chart-line { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea84;&nbsp;'); }
.icon-comment-check { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea85;&nbsp;'); }
.icon-comment-dots { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea86;&nbsp;'); }
.icon-comment-edit { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea88;&nbsp;'); }
.icon-comment-exclamation { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea89;&nbsp;'); }
.icon-comment-heart { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea8a;&nbsp;'); }
.icon-comment-info-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea8c;&nbsp;'); }
.icon-comment-info { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea8d;&nbsp;'); }
.icon-comment-lines { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea8e;&nbsp;'); }
.icon-comment-lock { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea8f;&nbsp;'); }
.icon-comment-medical { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea90;&nbsp;'); }
.icon-comment-message { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea91;&nbsp;'); }
.icon-comment-notes { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea92;&nbsp;'); }
.icon-comment-plus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea93;&nbsp;'); }
.icon-comment-question { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea94;&nbsp;'); }
.icon-comment-redo { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea95;&nbsp;'); }
.icon-comment-search { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea96;&nbsp;'); }
.icon-comment-share { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea97;&nbsp;'); }
.icon-comment-shield { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea98;&nbsp;'); }
.icon-comment-upload { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea9a;&nbsp;'); }
.icon-comment-verify { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea9b;&nbsp;'); }
.icon-comment-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea9c;&nbsp;'); }
.icon-comments-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea9d;&nbsp;'); }
.icon-comments { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea9e;&nbsp;'); }
.icon-compress-arrows { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa0;&nbsp;'); }
.icon-compress { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa1;&nbsp;'); }
.icon-computer-mouse { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa2;&nbsp;'); }
.icon-copy-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa5;&nbsp;'); }
.icon-copy-landscape { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa6;&nbsp;'); }
.icon-copy-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa7;&nbsp;'); }
.icon-copyright { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa8;&nbsp;'); }
.icon-corner-down-left { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa9;&nbsp;'); }
.icon-corner-down-right-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaaa;&nbsp;'); }
.icon-corner-down-right { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaab;&nbsp;'); }
.icon-corner-left-down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaac;&nbsp;'); }
.icon-corner-right-down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaad;&nbsp;'); }
.icon-corner-up-left-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaae;&nbsp;'); }
.icon-corner-up-left { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaaf;&nbsp;'); }
.icon-corner-up-right-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab0;&nbsp;'); }
.icon-corner-up-right { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab1;&nbsp;'); }
.icon-crockery { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab2;&nbsp;'); }
.icon-crop-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab5;&nbsp;'); }
.icon-crosshair-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab6;&nbsp;'); }
.icon-crosshair { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab7;&nbsp;'); }
.icon-crosshairs { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab8;&nbsp;'); }
.icon-cube-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab9;&nbsp;'); }
.icon-dashboard-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaba;&nbsp;'); }
.icon-database-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeabc;&nbsp;'); }
.icon-database { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeabd;&nbsp;'); }
.icon-desktop-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeabf;&nbsp;'); }
.icon-desktop { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac2;&nbsp;'); }
.icon-dialpad-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac3;&nbsp;'); }
.icon-diary-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac5;&nbsp;'); }
.icon-diary { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac6;&nbsp;'); }
.icon-direction { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeacd;&nbsp;'); }
.icon-directions { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeace;&nbsp;'); }
.icon-document-layout-center { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead1;&nbsp;'); }
.icon-document-layout-left { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead2;&nbsp;'); }
.icon-document-layout-right { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead3;&nbsp;'); }
.icon-document { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead4;&nbsp;'); }
.icon-dollar-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead5;&nbsp;'); }
.icon-dollar-sign { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead6;&nbsp;'); }
.icon-down-arrow { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead7;&nbsp;'); }
.icon-ear { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead9;&nbsp;'); }
.icon-edit-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeada;&nbsp;'); }
.icon-edit-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeadb;&nbsp;'); }
.icon-ellipsis-h { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeadc;&nbsp;'); }
.icon-ellipsis-v { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeadd;&nbsp;'); }
.icon-enter { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeadf;&nbsp;'); }
.icon-entry { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae0;&nbsp;'); }
.icon-envelope-add { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae1;&nbsp;'); }
.icon-envelope-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae2;&nbsp;'); }
.icon-envelope-edit { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae8;&nbsp;'); }
.icon-envelope-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaee;&nbsp;'); }
.icon-envelope-search { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaf2;&nbsp;'); }
.icon-envelope-shield { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaf5;&nbsp;'); }
.icon-envelope-times { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaf7;&nbsp;'); }
.icon-envelope-upload { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaf9;&nbsp;'); }
.icon-envelope { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeafa;&nbsp;'); }
.icon-envelopes { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeafb;&nbsp;'); }
.icon-equal-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeafc;&nbsp;'); }
.icon-euro { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeafe;&nbsp;'); }
.icon-exchange-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaff;&nbsp;'); }
.icon-exclamation-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb01;&nbsp;'); }
.icon-exclamation-octagon { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb02;&nbsp;'); }
.icon-exclamation-triangle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb03;&nbsp;'); }
.icon-exit { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb05;&nbsp;'); }
.icon-expand-arrows-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb07;&nbsp;'); }
.icon-send { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb09;&nbsp;'); }
.icon-facebook-official { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb10;&nbsp;'); }
.icon-fast-mail { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb12;&nbsp;'); }
.icon-favorite { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb13;&nbsp;'); }
.icon-feedback { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb14;&nbsp;'); }
.icon-file-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb15;&nbsp;'); }
.icon-file-bookmark-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb18;&nbsp;'); }
.icon-file-check-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb19;&nbsp;'); }
.icon-file-check { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb1a;&nbsp;'); }
.icon-file-copy-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb1b;&nbsp;'); }
.icon-file-edit-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb1e;&nbsp;'); }
.icon-file-heart { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb21;&nbsp;'); }
.icon-file-info-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb22;&nbsp;'); }
.icon-list-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb23;&nbsp;'); }
.icon-list { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb24;&nbsp;'); }
.icon-merge { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb25;&nbsp;'); }
.icon-file-medical-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb27;&nbsp;'); }
.icon-file-medical { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb28;&nbsp;'); }
.icon-file-plus-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb2c;&nbsp;'); }
.icon-file-plus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb2d;&nbsp;'); }
.icon-file-question-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb2e;&nbsp;'); }
.icon-file-question { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb2f;&nbsp;'); }
.icon-split { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb30;&nbsp;'); }
.icon-file-search-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb31;&nbsp;'); }
.icon-file-slash { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb32;&nbsp;'); }
.icon-file-times { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb34;&nbsp;'); }
.icon-file-upload-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb35;&nbsp;'); }
.icon-file-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb37;&nbsp;'); }
.icon-files-landscapes-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb38;&nbsp;'); }
.icon-files-landscapes { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb39;&nbsp;'); }
.icon-film { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb3a;&nbsp;'); }
.icon-gif-black { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb3c;&nbsp;'); }
.icon-fire { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb3d;&nbsp;'); }
.icon-attach { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb3e;&nbsp;'); }
.icon-flask { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb3f;&nbsp;'); }
.icon-flower { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb40;&nbsp;'); }
.icon-focus-add { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb41;&nbsp;'); }
.icon-focus-target { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb42;&nbsp;'); }
.icon-focus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb43;&nbsp;'); }
.icon-folder-check { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb44;&nbsp;'); }
.icon-folder-download { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb45;&nbsp;'); }
.icon-folder-exclamation { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb46;&nbsp;'); }
.icon-folder-lock { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb49;&nbsp;'); }
.icon-folder-medical { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb4a;&nbsp;'); }
.icon-folder-minus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb4b;&nbsp;'); }
.icon-folder-network { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb4c;&nbsp;'); }
.icon-folder-question { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb4e;&nbsp;'); }
.icon-folder-slash { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb4f;&nbsp;'); }
.icon-folder-times { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb50;&nbsp;'); }
.icon-folder-upload { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb51;&nbsp;'); }
.icon-folder-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb52;&nbsp;'); }
.icon-food { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb53;&nbsp;'); }
.icon-forwaded-call { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb57;&nbsp;'); }
.icon-forward { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb58;&nbsp;'); }
.icon-frown { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb59;&nbsp;'); }
.icon-whatsapp-fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb5a;&nbsp;'); }
.icon-gift { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb5b;&nbsp;'); }
.icon-twilio { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb5c;&nbsp;'); }
.icon-line { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb5d;&nbsp;'); }
.icon-glass-martini-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb5e;&nbsp;'); }
.icon-glass-martini { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb5f;&nbsp;'); }
.icon-glass-tea { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb60;&nbsp;'); }
.icon-glass { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb61;&nbsp;'); }
.icon-csv-export { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb62;&nbsp;'); }
.icon-gold { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb63;&nbsp;'); }
.icon-csv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb64;&nbsp;'); }
.icon-google-drive { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb65;&nbsp;'); }
.icon-google-hangouts { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb66;&nbsp;'); }
.icon-google-play { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb67;&nbsp;'); }
.icon-google { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb68;&nbsp;'); }
.icon-graduation-hat { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb69;&nbsp;'); }
.icon-graph-bar { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb6a;&nbsp;'); }
.icon-grid { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb6b;&nbsp;'); }
.icon-grids { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb6c;&nbsp;'); }
.icon-rar { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb6d;&nbsp;'); }
.icon-txt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb6e;&nbsp;'); }
.icon-grin { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb6f;&nbsp;'); }
.icon-zip { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb70;&nbsp;'); }
.icon-hdd { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb71;&nbsp;'); }
.icon-headphones-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb72;&nbsp;'); }
.icon-heart-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb74;&nbsp;'); }
.icon-heart-medical { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb75;&nbsp;'); }
.icon-heart-rate { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb76;&nbsp;'); }
.icon-heart-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb77;&nbsp;'); }
.icon-history-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb79;&nbsp;'); }
.icon-history { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb7a;&nbsp;'); }
.icon-home-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb7b;&nbsp;'); }
.icon-hourglass { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb7f;&nbsp;'); }
.icon-hunting { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb80;&nbsp;'); }
.icon-image-check { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb83;&nbsp;'); }
.icon-image-edit { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb85;&nbsp;'); }
.icon-image-plus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb88;&nbsp;'); }
.icon-image-v { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb90;&nbsp;'); }
.icon-image { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb91;&nbsp;'); }
.icon-import { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb93;&nbsp;'); }
.icon-incoming-call { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb94;&nbsp;'); }
.icon-info-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb95;&nbsp;'); }
.icon-invoice { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb9a;&nbsp;'); }
.icon-key-skeleton-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb9c;&nbsp;'); }
.icon-keyboard-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb9d;&nbsp;'); }
.icon-keyhole-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeba1;&nbsp;'); }
.icon-keyhole-square { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeba3;&nbsp;'); }
.icon-kid { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeba4;&nbsp;'); }
.icon-label-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeba5;&nbsp;'); }
.icon-label { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeba6;&nbsp;'); }
.icon-lamp { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeba7;&nbsp;'); }
.icon-laptop-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeba9;&nbsp;'); }
.icon-layer-group { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebac;&nbsp;'); }
.icon-layers-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebae;&nbsp;'); }
.icon-left-arrow-from-left { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebaf;&nbsp;'); }
.icon-left-arrow-to-left { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebb0;&nbsp;'); }
.icon-lightbulb-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebb4;&nbsp;'); }
.icon-line-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebb7;&nbsp;'); }
.icon-link-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebb8;&nbsp;'); }
.icon-link-broken { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebb9;&nbsp;'); }
.icon-link-h { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebba;&nbsp;'); }
.icon-link-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebbb;&nbsp;'); }
.icon-list-ui-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebbc;&nbsp;'); }
.icon-list-ul { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebbd;&nbsp;'); }
.icon-location-arrow-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebbe;&nbsp;'); }
.icon-location-arrow { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebbf;&nbsp;'); }
.icon-location-point { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebc1;&nbsp;'); }
.icon-lock-access { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebc3;&nbsp;'); }
.icon-lock-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebc4;&nbsp;'); }
.icon-lock-open-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebc5;&nbsp;'); }
.icon-lock-slash { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebc6;&nbsp;'); }
.icon-lock { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebc7;&nbsp;'); }
.icon-mailbox-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebc8;&nbsp;'); }
.icon-mailbox { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebc9;&nbsp;'); }
.icon-map-marker { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebd2;&nbsp;'); }
.icon-map-pin-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebd3;&nbsp;'); }
.icon-map { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebd5;&nbsp;'); }
.icon-mars { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebd6;&nbsp;'); }
.icon-medal-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebd8;&nbsp;'); }
.icon-medical-square-full { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebd9;&nbsp;'); }
.icon-medkit { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebdc;&nbsp;'); }
.icon-meeting-board { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebdd;&nbsp;'); }
.icon-meh { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebe0;&nbsp;'); }
.icon-message { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebe1;&nbsp;'); }
.icon-metro { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebe2;&nbsp;'); }
.icon-microphone-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebe4;&nbsp;'); }
.icon-minus-circle-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebe5;&nbsp;'); }
.icon-minus-square { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebe7;&nbsp;'); }
.icon-minus-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebe8;&nbsp;'); }
.icon-missed-call { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebe9;&nbsp;'); }
.icon-mobile-android-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebeb;&nbsp;'); }
.icon-mobile-android { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebec;&nbsp;'); }
.icon-mobile-vibrate { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebed;&nbsp;'); }
.icon-modem { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebee;&nbsp;'); }
.icon-money-bill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebf0;&nbsp;'); }
.icon-money-insert { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebf1;&nbsp;'); }
.icon-money-stack { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebf2;&nbsp;'); }
.icon-money-withdraw { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebf3;&nbsp;'); }
.icon-money-withdrawal { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebf4;&nbsp;'); }
.icon-moneybag { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebf6;&nbsp;'); }
.icon-monitor-heart-rate { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebf7;&nbsp;'); }
.icon-monitor-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebf8;&nbsp;'); }
.icon-moon-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebfa;&nbsp;'); }
.icon-mountains-sun { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebfc;&nbsp;'); }
.icon-mountains { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebfd;&nbsp;'); }
.icon-mouse-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebfe;&nbsp;'); }
.icon-multiply { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec00;&nbsp;'); }
.icon-music-note { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec01;&nbsp;'); }
.icon-music-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec03;&nbsp;'); }
.icon-n-a { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec04;&nbsp;'); }
.icon-navigator { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec05;&nbsp;'); }
.icon-nerd { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec06;&nbsp;'); }
.icon-newspaper { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec07;&nbsp;'); }
.icon-no-entry { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec09;&nbsp;'); }
.icon-notebooks { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec0a;&nbsp;'); }
.icon-notes { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec0b;&nbsp;'); }
.icon-outgoing-call { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec0c;&nbsp;'); }
.icon-package { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec0d;&nbsp;'); }
.icon-padlock-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec0e;&nbsp;'); }
.icon-paint-tool { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec0f;&nbsp;'); }
.icon-palette { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec10;&nbsp;'); }
.icon-panorama-h { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec12;&nbsp;'); }
.icon-panorama-v { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec13;&nbsp;'); }
.icon-paperclip { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec14;&nbsp;'); }
.icon-paragraph { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec15;&nbsp;'); }
.icon-parcel { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec16;&nbsp;'); }
.icon-parking-square { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec17;&nbsp;'); }
.icon-pause-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec18;&nbsp;'); }
.icon-pause-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec19;&nbsp;'); }
.icon-pen-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec1a;&nbsp;'); }
.icon-phone-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec1d;&nbsp;'); }
.icon-phone-pause { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec1e;&nbsp;'); }
.icon-phone-slash { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec1f;&nbsp;'); }
.icon-phone-times { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec20;&nbsp;'); }
.icon-phone-volume { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec21;&nbsp;'); }
.icon-phone { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec22;&nbsp;'); }
.icon-picture-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec23;&nbsp;'); }
.icon-plane-arrival { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec24;&nbsp;'); }
.icon-plane-departure { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec25;&nbsp;'); }
.icon-plane-fly { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec26;&nbsp;'); }
.icon-play-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec28;&nbsp;'); }
.icon-play-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec29;&nbsp;'); }
.icon-plug-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec2a;&nbsp;'); }
.icon-plus-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec2b;&nbsp;'); }
.icon-plus-square { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec2c;&nbsp;'); }
.icon-plus-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec2d;&nbsp;'); }
.icon-podium { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec2e;&nbsp;'); }
.icon-postcard { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec30;&nbsp;'); }
.icon-pound { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec32;&nbsp;'); }
.icon-prescription-bottle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec34;&nbsp;'); }
.icon-presentation-check { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec35;&nbsp;'); }
.icon-presentation-line { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec37;&nbsp;'); }
.icon-presentation-lines-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec38;&nbsp;'); }
.icon-presentation-minus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec39;&nbsp;'); }
.icon-presentation-play { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec3a;&nbsp;'); }
.icon-presentation { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec3d;&nbsp;'); }
.icon-previous { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec3e;&nbsp;'); }
.icon-pricetag-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec3f;&nbsp;'); }
.icon-print { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec41;&nbsp;'); }
.icon-process { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec42;&nbsp;'); }
.icon-processor { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec43;&nbsp;'); }
.icon-pump { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec44;&nbsp;'); }
.icon-puzzle-piece { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec45;&nbsp;'); }
.icon-question-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec46;&nbsp;'); }
.icon-raindrops-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec47;&nbsp;'); }
.icon-receipt-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec49;&nbsp;'); }
.icon-receipt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec4a;&nbsp;'); }
.icon-redo { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec4c;&nbsp;'); }
.icon-refresh-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec4d;&nbsp;'); }
.icon-repeat-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec4f;&nbsp;'); }
.icon-robot { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec53;&nbsp;'); }
.icon-github-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec54;&nbsp;'); }
.icon-rotate-360 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec55;&nbsp;'); }
.icon-youtube-play { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec56;&nbsp;'); }
.icon-rss-interface { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec57;&nbsp;'); }
.icon-rss { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec58;&nbsp;'); }
.icon-scenery { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec5b;&nbsp;'); }
.icon-schedule { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec5c;&nbsp;'); }
.icon-science { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec5d;&nbsp;'); }
.icon-earthgrid { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec5e;&nbsp;'); }
.icon-scroll-h { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec5f;&nbsp;'); }
.icon-scroll { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec60;&nbsp;'); }
.icon-search-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec61;&nbsp;'); }
.icon-search-minus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec62;&nbsp;'); }
.icon-search-plus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec63;&nbsp;'); }
.icon-search-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec64;&nbsp;'); }
.icon-server-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec66;&nbsp;'); }
.icon-server-network { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec69;&nbsp;'); }
.icon-share-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec6c;&nbsp;'); }
.icon-shield-check { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec6d;&nbsp;'); }
.icon-shield-exclamation { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec6e;&nbsp;'); }
.icon-shield-slash { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec70;&nbsp;'); }
.icon-shield-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec71;&nbsp;'); }
.icon-ship { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec72;&nbsp;'); }
.icon-shopping-cart-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec75;&nbsp;'); }
.icon-shovel { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec77;&nbsp;'); }
.icon-sign-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec7b;&nbsp;'); }
.icon-sign-in-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec7c;&nbsp;'); }
.icon-sign-left { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec7d;&nbsp;'); }
.icon-sign-out-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec7e;&nbsp;'); }
.icon-sign-right { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec7f;&nbsp;'); }
.icon-signal-alt-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec80;&nbsp;'); }
.icon-signal-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec81;&nbsp;'); }
.icon-sitemap-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec85;&nbsp;'); }
.icon-skip-forward-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec86;&nbsp;'); }
.icon-skip-forward-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec87;&nbsp;'); }
.icon-slack { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec8a;&nbsp;'); }
.icon-sliders-v { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec8c;&nbsp;'); }
.icon-smile { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec93;&nbsp;'); }
.icon-sort-amount-down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec98;&nbsp;'); }
.icon-sort-amount-up { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec99;&nbsp;'); }
.icon-sort { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec9a;&nbsp;'); }
.icon-sorting { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec9b;&nbsp;'); }
.icon-space-key { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec9c;&nbsp;'); }
.icon-square-shape { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeca2;&nbsp;'); }
.icon-star-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeca6;&nbsp;'); }
.icon-step-backward-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeca7;&nbsp;'); }
.icon-step-backward { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeca9;&nbsp;'); }
.icon-step-forward { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecaa;&nbsp;'); }
.icon-stopwatch { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecad;&nbsp;'); }
.icon-store { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecaf;&nbsp;'); }
.icon-subject { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecb0;&nbsp;'); }
.icon-subway { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecb2;&nbsp;'); }
.icon-suitcase { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecb4;&nbsp;'); }
.icon-sun-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecb5;&nbsp;'); }
.icon-sunset { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecb6;&nbsp;'); }
.icon-swatchbook { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecb8;&nbsp;'); }
.icon-swimmer { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecb9;&nbsp;'); }
.icon-sync-exclamation { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecba;&nbsp;'); }
.icon-sync { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecbc;&nbsp;'); }
.icon-table { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecbd;&nbsp;'); }
.icon-tablet { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecbe;&nbsp;'); }
.icon-tachometer-fast { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecbf;&nbsp;'); }
.icon-tag-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecc0;&nbsp;'); }
.icon-tag-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecc1;&nbsp;'); }
.icon-taxi { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecc2;&nbsp;'); }
.icon-tear { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecc3;&nbsp;'); }
.icon-technology { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecc4;&nbsp;'); }
.icon-telegram-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecc5;&nbsp;'); }
.icon-temperature-half { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecc9;&nbsp;'); }
.icon-th { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecd4;&nbsp;'); }
.icon-thumbs-down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecd6;&nbsp;'); }
.icon-thumbs-up { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecd7;&nbsp;'); }
.icon-ticket { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecd8;&nbsp;'); }
.icon-times-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecd9;&nbsp;'); }
.icon-times-square { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecda;&nbsp;'); }
.icon-times { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecdb;&nbsp;'); }
.icon-top-arrow-to-top { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecdd;&nbsp;'); }
.icon-trash-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xece0;&nbsp;'); }
.icon-trash { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xece1;&nbsp;'); }
.icon-trees { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xece2;&nbsp;'); }
.icon-triangle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xece3;&nbsp;'); }
.icon-trophy { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xece4;&nbsp;'); }
.icon-trowel { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xece5;&nbsp;'); }
.icon-truck { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xece6;&nbsp;'); }
.icon-tv-retro { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xece8;&nbsp;'); }
.icon-twitter-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xece9;&nbsp;'); }
.icon-umbrella-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeceb;&nbsp;'); }
.icon-university { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecee;&nbsp;'); }
.icon-unlock-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecef;&nbsp;'); }
.icon-unlock { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecf0;&nbsp;'); }
.icon-upload-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecf2;&nbsp;'); }
.icon-usd-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecf3;&nbsp;'); }
.icon-usd-square { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecf4;&nbsp;'); }
.icon-user-check { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecf5;&nbsp;'); }
.icon-user-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecf6;&nbsp;'); }
.icon-user-minus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecf9;&nbsp;'); }
.icon-user-plus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecfa;&nbsp;'); }
.icon-user-square { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecfb;&nbsp;'); }
.icon-user-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecfd;&nbsp;'); }
.icon-users-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecfe;&nbsp;'); }
.icon-utensils { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed00;&nbsp;'); }
.icon-video { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed03;&nbsp;'); }
.icon-voicemail-rectangle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed04;&nbsp;'); }
.icon-voicemail { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed05;&nbsp;'); }
.icon-volume-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed0a;&nbsp;'); }
.icon-wallet { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed0b;&nbsp;'); }
.icon-watch-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed0c;&nbsp;'); }
.icon-web-grid-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed11;&nbsp;'); }
.icon-web-grid { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed12;&nbsp;'); }
.icon-web-section-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed13;&nbsp;'); }
.icon-weight { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed16;&nbsp;'); }
.icon-whatsapp-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed17;&nbsp;'); }
.icon-window-grid { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed1d;&nbsp;'); }
.icon-window-maximize { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed1e;&nbsp;'); }
.icon-window-section { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed20;&nbsp;'); }
.icon-window { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed21;&nbsp;'); }
.icon-wrench { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed24;&nbsp;'); }
.icon-yen { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed27;&nbsp;'); }
.icon-mail-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e0;&nbsp;'); }
.icon-doc-inv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf15b;&nbsp;'); }
.icon-doc-text-inv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf15c;&nbsp;'); }
.icon-git { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf1d3;&nbsp;'); }
.icon-wechat { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf1d7;&nbsp;'); }
.icon-whatsapp { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf232;&nbsp;'); }
.icon-comment { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf4ac;&nbsp;'); }