@font-face {
  font-family: 'crm';
  src: url('../font/crm.eot?33896746');
  src: url('../font/crm.eot?33896746#iefix') format('embedded-opentype'),
       url('../font/crm.woff2?33896746') format('woff2'),
       url('../font/crm.woff?33896746') format('woff'),
       url('../font/crm.ttf?33896746') format('truetype'),
       url('../font/crm.svg?33896746#crm') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'crm';
    src: url('../font/crm.svg?33896746#crm') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "crm";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-linkedin:before { content: '\e800'; }
.icon-alarm-2:before { content: '\e801'; }
.icon-alarm:before { content: '\e802'; }
.icon-alignleft:before { content: '\e803'; }
.icon-alignright:before { content: '\e804'; }
.icon-whatsapp-1:before { content: '\e805'; }
.icon-gmail:before { content: '\e806'; }
.icon-viber:before { content: '\e807'; }
.icon-avi:before { content: '\e808'; }
.icon-briefcase:before { content: '\e809'; }
.icon-facebook:before { content: '\e80a'; }
.icon-csv-import:before { content: '\e80b'; }
.icon-twitter:before { content: '\e80c'; }
.icon-cancel:before { content: '\e80d'; }
.icon-chat:before { content: '\e80e'; }
.icon-check:before { content: '\e80f'; }
.icon-chevron:before { content: '\e810'; }
.icon-help-circled:before { content: '\e811'; }
.icon-clicker:before { content: '\e812'; }
.icon-clip:before { content: '\e813'; }
.icon-doc:before { content: '\e814'; }
.icon-file-2:before { content: '\e815'; }
.icon-jpg:before { content: '\e816'; }
.icon-compass:before { content: '\e817'; }
.icon-copy:before { content: '\e818'; }
.icon-creditcard:before { content: '\e819'; }
.icon-mp3:before { content: '\e81a'; }
.icon-cube-1:before { content: '\e81b'; }
.icon-pdf:before { content: '\e81c'; }
.icon-png:before { content: '\e81d'; }
.icon-export:before { content: '\e81e'; }
.icon-dashboard:before { content: '\e81f'; }
.icon-ppt:before { content: '\e820'; }
.icon-diamond:before { content: '\e821'; }
.icon-psd:before { content: '\e822'; }
.icon-xls:before { content: '\e823'; }
.icon-dislike:before { content: '\e824'; }
.icon-downarrow-2:before { content: '\e825'; }
.icon-downarrow-3:before { content: '\e826'; }
.icon-downarrow:before { content: '\e827'; }
.icon-skype:before { content: '\e828'; }
.icon-reply:before { content: '\e829'; }
.icon-edit:before { content: '\e82a'; }
.icon-eraser-1:before { content: '\e82f'; }
.icon-reply-all:before { content: '\e831'; }
.icon-exposure-alt:before { content: '\e832'; }
.icon-file:before { content: '\e834'; }
.icon-filter:before { content: '\e835'; }
.icon-flag:before { content: '\e837'; }
.icon-folder:before { content: '\e838'; }
.icon-followers:before { content: '\e839'; }
.icon-instagram:before { content: '\e83c'; }
.icon-home:before { content: '\e83e'; }
.icon-exposure-increase:before { content: '\e83f'; }
.icon-idea:before { content: '\e840'; }
.icon-java-script:before { content: '\e842'; }
.icon-justify:before { content: '\e844'; }
.icon-leaf:before { content: '\e846'; }
.icon-leftarrow-2:before { content: '\e848'; }
.icon-leftarrow-3:before { content: '\e849'; }
.icon-leftarrow:before { content: '\e84a'; }
.icon-like:before { content: '\e84b'; }
.icon-link:before { content: '\e84c'; }
.icon-loading:before { content: '\e84d'; }
.icon-login:before { content: '\e84e'; }
.icon-logout:before { content: '\e84f'; }
.icon-medal:before { content: '\e850'; }
.icon-megaphone:before { content: '\e851'; }
.icon-menu-2:before { content: '\e852'; }
.icon-menu:before { content: '\e853'; }
.icon-minus:before { content: '\e856'; }
.icon-paste:before { content: '\e861'; }
.icon-pencil-3:before { content: '\e863'; }
.icon-photocamera:before { content: '\e867'; }
.icon-picture:before { content: '\e868'; }
.icon-piechart:before { content: '\e869'; }
.icon-piggybank:before { content: '\e86a'; }
.icon-play:before { content: '\e86d'; }
.icon-plus:before { content: '\e86e'; }
.icon-puzzle:before { content: '\e872'; }
.icon-external-link-alt:before { content: '\e874'; }
.icon-refresh:before { content: '\e875'; }
.icon-removeuser:before { content: '\e876'; }
.icon-rightarrow-2:before { content: '\e87a'; }
.icon-rightarrow:before { content: '\e87b'; }
.icon-scale:before { content: '\e87e'; }
.icon-eye-slash:before { content: '\e87f'; }
.icon-settings:before { content: '\e880'; }
.icon-shield:before { content: '\e882'; }
.icon-shoppingcart:before { content: '\e883'; }
.icon-shuffle:before { content: '\e884'; }
.icon-star:before { content: '\e88a'; }
.icon-react:before { content: '\e88c'; }
.icon-tag:before { content: '\e891'; }
.icon-target:before { content: '\e892'; }
.icon-tools:before { content: '\e895'; }
.icon-umbrella:before { content: '\e899'; }
.icon-uparrow-2:before { content: '\e89a'; }
.icon-uparrow-3:before { content: '\e89b'; }
.icon-uparrow:before { content: '\e89c'; }
.icon-user-2:before { content: '\e89f'; }
.icon-user:before { content: '\e8a0'; }
.icon-videocamera:before { content: '\e8a2'; }
.icon-wallclock:before { content: '\e8a4'; }
.icon-eye:before { content: '\e8a5'; }
.icon-bar-chart:before { content: '\e8aa'; }
.icon-book:before { content: '\e8ac'; }
.icon-cancel-1:before { content: '\e8ae'; }
.icon-checked-1:before { content: '\e8af'; }
.icon-checked:before { content: '\e8b0'; }
.icon-circular:before { content: '\e8b1'; }
.icon-clipboard-1:before { content: '\e8b2'; }
.icon-clipboard:before { content: '\e8b3'; }
.icon-clock:before { content: '\e8b4'; }
.icon-cloud-1:before { content: '\e8b9'; }
.icon-computer:before { content: '\e8bb'; }
.icon-devices:before { content: '\e8be'; }
.icon-messenger:before { content: '\e8bf'; }
.icon-file-blank:before { content: '\e8c0'; }
.icon-download-1:before { content: '\e8c1'; }
.icon-download-2:before { content: '\e8c2'; }
.icon-download-3:before { content: '\e8c3'; }
.icon-edit-1:before { content: '\e8c5'; }
.icon-folder-1:before { content: '\e8cb'; }
.icon-head-1:before { content: '\e8cd'; }
.icon-head:before { content: '\e8ce'; }
.icon-heart-1:before { content: '\e8d0'; }
.icon-laptop:before { content: '\e8d3'; }
.icon-light-bulb:before { content: '\e8d6'; }
.icon-like-1:before { content: '\e8d7'; }
.icon-doc-text-inv-1:before { content: '\e8d8'; }
.icon-login-1:before { content: '\e8d9'; }
.icon-login-2:before { content: '\e8da'; }
.icon-logout-1:before { content: '\e8db'; }
.icon-logout-2:before { content: '\e8dc'; }
.icon-next-2:before { content: '\e8e4'; }
.icon-next-3:before { content: '\e8e5'; }
.icon-paper-plane:before { content: '\e8ea'; }
.icon-phone-call:before { content: '\e8ed'; }
.icon-pie-chart:before { content: '\e8f1'; }
.icon-piggy-bank:before { content: '\e8f2'; }
.icon-placeholder:before { content: '\e8f3'; }
.icon-plug:before { content: '\e8f6'; }
.icon-power-button:before { content: '\e8f7'; }
.icon-reload:before { content: '\e8f9'; }
.icon-repeat:before { content: '\e8fc'; }
.icon-search:before { content: '\e900'; }
.icon-shuffle-1:before { content: '\e907'; }
.icon-file-exclamation-alt:before { content: '\e914'; }
.icon-upload-1:before { content: '\e91e'; }
.icon-users:before { content: '\e927'; }
.icon-file-landscape-alt:before { content: '\e929'; }
.icon-file-landscape:before { content: '\e92a'; }
.icon-file-minus-alt:before { content: '\e92e'; }
.icon-file-minus:before { content: '\e930'; }
.icon-file-network:before { content: '\e934'; }
.icon-filter-1:before { content: '\e936'; }
.icon-hold:before { content: '\e937'; }
.icon-flask-potion:before { content: '\e938'; }
.icon-layers:before { content: '\e939'; }
.icon-move:before { content: '\e93e'; }
.icon-paintpalette:before { content: '\e940'; }
.icon-pencil:before { content: '\e945'; }
.icon-zoomin:before { content: '\e959'; }
.icon-zoomout:before { content: '\e95a'; }
.icon-github:before { content: '\e9a1'; }
.icon-add:before { content: '\e9a2'; }
.icon-minus-circle:before { content: '\e9a3'; }
.icon-terminal:before { content: '\e9a4'; }
.icon-angle-down:before { content: '\e9a6'; }
.icon-wifi:before { content: '\e9a7'; }
.icon-calendar-alt:before { content: '\e9a8'; }
.icon-calender:before { content: '\e9aa'; }
.icon-airplay:before { content: '\e9ab'; }
.icon-align-center-alt:before { content: '\e9ad'; }
.icon-align-center-justify:before { content: '\e9ae'; }
.icon-align-center:before { content: '\e9b0'; }
.icon-align-justify:before { content: '\e9b1'; }
.icon-align-left-justify:before { content: '\e9b2'; }
.icon-align-left:before { content: '\e9b3'; }
.icon-align-right:before { content: '\e9b6'; }
.icon-align:before { content: '\e9b7'; }
.icon-ambulance:before { content: '\e9b8'; }
.icon-analysis:before { content: '\e9b9'; }
.icon-analytics:before { content: '\e9ba'; }
.icon-anchor:before { content: '\e9bb'; }
.icon-angle-double-down:before { content: '\e9bd'; }
.icon-angle-double-left:before { content: '\e9be'; }
.icon-angle-double-right:before { content: '\e9bf'; }
.icon-angle-double-up:before { content: '\e9c0'; }
.icon-angle-left:before { content: '\e9c1'; }
.icon-angle-right-b:before { content: '\e9c2'; }
.icon-angle-right:before { content: '\e9c3'; }
.icon-angle-up:before { content: '\e9c4'; }
.icon-apple-alt:before { content: '\e9c8'; }
.icon-apps:before { content: '\e9ca'; }
.icon-archive-alt:before { content: '\e9cb'; }
.icon-arrow-circle-down:before { content: '\e9ce'; }
.icon-arrow-circle-left:before { content: '\e9cf'; }
.icon-arrow-circle-right:before { content: '\e9d0'; }
.icon-arrow-circle-up:before { content: '\e9d1'; }
.icon-arrow-down-left:before { content: '\e9d3'; }
.icon-arrow-down-right:before { content: '\e9d4'; }
.icon-arrow-down:before { content: '\e9d5'; }
.icon-arrow-from-right:before { content: '\e9d6'; }
.icon-arrow-from-top:before { content: '\e9d7'; }
.icon-arrow-growth:before { content: '\e9d8'; }
.icon-arrow-left:before { content: '\e9d9'; }
.icon-arrow-random:before { content: '\e9da'; }
.icon-arrow-resize-diagonal:before { content: '\e9db'; }
.icon-arrow-right:before { content: '\e9dc'; }
.icon-arrow-to-bottom:before { content: '\e9dd'; }
.icon-arrow-to-right:before { content: '\e9de'; }
.icon-arrow-up-left:before { content: '\e9df'; }
.icon-arrow-up-right:before { content: '\e9e0'; }
.icon-arrow-up:before { content: '\e9e1'; }
.icon-arrows-h:before { content: '\e9e3'; }
.icon-arrows-left-down:before { content: '\e9e4'; }
.icon-arrows-maximize:before { content: '\e9e5'; }
.icon-arrows-right-down:before { content: '\e9e7'; }
.icon-arrows-up-right:before { content: '\e9e8'; }
.icon-at:before { content: '\e9eb'; }
.icon-atm-card:before { content: '\e9ec'; }
.icon-award-alt:before { content: '\e9ed'; }
.icon-award:before { content: '\e9ee'; }
.icon-backspace:before { content: '\e9f0'; }
.icon-backward:before { content: '\e9f1'; }
.icon-bag-alt:before { content: '\e9f2'; }
.icon-ban:before { content: '\e9f6'; }
.icon-bars:before { content: '\e9f7'; }
.icon-bath:before { content: '\e9f9'; }
.icon-bell-school:before { content: '\e9fd'; }
.icon-bell-slash:before { content: '\e9fe'; }
.icon-bell:before { content: '\e9ff'; }
.icon-bill:before { content: '\ea00'; }
.icon-bolt-alt:before { content: '\ea03'; }
.icon-book-alt:before { content: '\ea06'; }
.icon-book-medical:before { content: '\ea07'; }
.icon-book-open:before { content: '\ea08'; }
.icon-book-reader:before { content: '\ea09'; }
.icon-book-1:before { content: '\ea0a'; }
.icon-bookmark-1:before { content: '\ea0c'; }
.icon-box:before { content: '\ea0d'; }
.icon-briefcase-alt:before { content: '\ea0e'; }
.icon-bright:before { content: '\ea10'; }
.icon-brightness-low:before { content: '\ea13'; }
.icon-brightness-plus:before { content: '\ea15'; }
.icon-brightness-1:before { content: '\ea16'; }
.icon-brush-alt:before { content: '\ea17'; }
.icon-bug:before { content: '\ea18'; }
.icon-building:before { content: '\ea19'; }
.icon-bus:before { content: '\ea1d'; }
.icon-calcualtor:before { content: '\ea1e'; }
.icon-calling:before { content: '\ea21'; }
.icon-camera-plus:before { content: '\ea23'; }
.icon-camera-slash:before { content: '\ea24'; }
.icon-camera:before { content: '\ea25'; }
.icon-cancel-2:before { content: '\ea26'; }
.icon-capsule:before { content: '\ea27'; }
.icon-capture:before { content: '\ea28'; }
.icon-car:before { content: '\ea2c'; }
.icon-caret-right:before { content: '\ea2e'; }
.icon-cart:before { content: '\ea2f'; }
.icon-cell:before { content: '\ea30'; }
.icon-chart-bar-alt:before { content: '\ea31'; }
.icon-chart-bar:before { content: '\ea32'; }
.icon-chart-down:before { content: '\ea33'; }
.icon-chart-growth-alt:before { content: '\ea34'; }
.icon-chart-growth:before { content: '\ea35'; }
.icon-chart-line:before { content: '\ea36'; }
.icon-chart-pie-alt:before { content: '\ea37'; }
.icon-chart-pie:before { content: '\ea38'; }
.icon-chart:before { content: '\ea39'; }
.icon-chat-bubble-user:before { content: '\ea3a'; }
.icon-chat-info:before { content: '\ea3b'; }
.icon-chat-1:before { content: '\ea3c'; }
.icon-check-circle:before { content: '\ea3d'; }
.icon-check-square:before { content: '\ea3e'; }
.icon-check-1:before { content: '\ea3f'; }
.icon-circle:before { content: '\ea40'; }
.icon-circuit:before { content: '\ea41'; }
.icon-clipboard-alt:before { content: '\ea43'; }
.icon-clipboard-blank:before { content: '\ea44'; }
.icon-clipboard-notes:before { content: '\ea45'; }
.icon-clipboard-2:before { content: '\ea46'; }
.icon-clock-eight:before { content: '\ea47'; }
.icon-cloud-check:before { content: '\ea52'; }
.icon-cloud-data-connection:before { content: '\ea54'; }
.icon-cloud-2:before { content: '\ea64'; }
.icon-code:before { content: '\ea66'; }
.icon-coffee:before { content: '\ea67'; }
.icon-cog:before { content: '\ea68'; }
.icon-columns-1:before { content: '\ea69'; }
.icon-comment-alt-block:before { content: '\ea6a'; }
.icon-comment-alt-chart-lines:before { content: '\ea6b'; }
.icon-comment-alt-check:before { content: '\ea6c'; }
.icon-comment-alt-dots:before { content: '\ea6d'; }
.icon-comment-alt-edit:before { content: '\ea6f'; }
.icon-comment-alt-exclamation:before { content: '\ea70'; }
.icon-comment-alt-heart:before { content: '\ea71'; }
.icon-comment-alt-info:before { content: '\ea73'; }
.icon-comment-alt-lines:before { content: '\ea74'; }
.icon-comment-alt-lock:before { content: '\ea75'; }
.icon-comment-alt-medical:before { content: '\ea76'; }
.icon-comment-alt-message:before { content: '\ea77'; }
.icon-comment-alt-notes:before { content: '\ea78'; }
.icon-comment-alt-plus:before { content: '\ea79'; }
.icon-comment-alt-question:before { content: '\ea7a'; }
.icon-comment-alt-redo:before { content: '\ea7b'; }
.icon-comment-alt-search:before { content: '\ea7c'; }
.icon-comment-alt-shield:before { content: '\ea7e'; }
.icon-comment-alt-upload:before { content: '\ea80'; }
.icon-comment-alt-verify:before { content: '\ea81'; }
.icon-comment-alt-1:before { content: '\ea82'; }
.icon-comment-block:before { content: '\ea83'; }
.icon-comment-chart-line:before { content: '\ea84'; }
.icon-comment-check:before { content: '\ea85'; }
.icon-comment-dots:before { content: '\ea86'; }
.icon-comment-edit:before { content: '\ea88'; }
.icon-comment-exclamation:before { content: '\ea89'; }
.icon-comment-heart:before { content: '\ea8a'; }
.icon-comment-info-alt:before { content: '\ea8c'; }
.icon-comment-info:before { content: '\ea8d'; }
.icon-comment-lines:before { content: '\ea8e'; }
.icon-comment-lock:before { content: '\ea8f'; }
.icon-comment-medical:before { content: '\ea90'; }
.icon-comment-message:before { content: '\ea91'; }
.icon-comment-notes:before { content: '\ea92'; }
.icon-comment-plus:before { content: '\ea93'; }
.icon-comment-question:before { content: '\ea94'; }
.icon-comment-redo:before { content: '\ea95'; }
.icon-comment-search:before { content: '\ea96'; }
.icon-comment-share:before { content: '\ea97'; }
.icon-comment-shield:before { content: '\ea98'; }
.icon-comment-upload:before { content: '\ea9a'; }
.icon-comment-verify:before { content: '\ea9b'; }
.icon-comment-1:before { content: '\ea9c'; }
.icon-comments-alt:before { content: '\ea9d'; }
.icon-comments:before { content: '\ea9e'; }
.icon-compress-arrows:before { content: '\eaa0'; }
.icon-compress:before { content: '\eaa1'; }
.icon-computer-mouse:before { content: '\eaa2'; }
.icon-copy-alt:before { content: '\eaa5'; }
.icon-copy-landscape:before { content: '\eaa6'; }
.icon-copy-1:before { content: '\eaa7'; }
.icon-copyright:before { content: '\eaa8'; }
.icon-corner-down-left:before { content: '\eaa9'; }
.icon-corner-down-right-alt:before { content: '\eaaa'; }
.icon-corner-down-right:before { content: '\eaab'; }
.icon-corner-left-down:before { content: '\eaac'; }
.icon-corner-right-down:before { content: '\eaad'; }
.icon-corner-up-left-alt:before { content: '\eaae'; }
.icon-corner-up-left:before { content: '\eaaf'; }
.icon-corner-up-right-alt:before { content: '\eab0'; }
.icon-corner-up-right:before { content: '\eab1'; }
.icon-crockery:before { content: '\eab2'; }
.icon-crop-alt:before { content: '\eab5'; }
.icon-crosshair-alt:before { content: '\eab6'; }
.icon-crosshair:before { content: '\eab7'; }
.icon-crosshairs:before { content: '\eab8'; }
.icon-cube-2:before { content: '\eab9'; }
.icon-dashboard-1:before { content: '\eaba'; }
.icon-database-alt:before { content: '\eabc'; }
.icon-database:before { content: '\eabd'; }
.icon-desktop-alt:before { content: '\eabf'; }
.icon-desktop:before { content: '\eac2'; }
.icon-dialpad-alt:before { content: '\eac3'; }
.icon-diary-alt:before { content: '\eac5'; }
.icon-diary:before { content: '\eac6'; }
.icon-direction:before { content: '\eacd'; }
.icon-directions:before { content: '\eace'; }
.icon-document-layout-center:before { content: '\ead1'; }
.icon-document-layout-left:before { content: '\ead2'; }
.icon-document-layout-right:before { content: '\ead3'; }
.icon-document:before { content: '\ead4'; }
.icon-dollar-alt:before { content: '\ead5'; }
.icon-dollar-sign:before { content: '\ead6'; }
.icon-down-arrow:before { content: '\ead7'; }
.icon-ear:before { content: '\ead9'; }
.icon-edit-alt:before { content: '\eada'; }
.icon-edit-3:before { content: '\eadb'; }
.icon-ellipsis-h:before { content: '\eadc'; }
.icon-ellipsis-v:before { content: '\eadd'; }
.icon-enter:before { content: '\eadf'; }
.icon-entry:before { content: '\eae0'; }
.icon-envelope-add:before { content: '\eae1'; }
.icon-envelope-alt:before { content: '\eae2'; }
.icon-envelope-edit:before { content: '\eae8'; }
.icon-envelope-open:before { content: '\eaee'; }
.icon-envelope-search:before { content: '\eaf2'; }
.icon-envelope-shield:before { content: '\eaf5'; }
.icon-envelope-times:before { content: '\eaf7'; }
.icon-envelope-upload:before { content: '\eaf9'; }
.icon-envelope:before { content: '\eafa'; }
.icon-envelopes:before { content: '\eafb'; }
.icon-equal-circle:before { content: '\eafc'; }
.icon-euro:before { content: '\eafe'; }
.icon-exchange-alt:before { content: '\eaff'; }
.icon-exclamation-circle:before { content: '\eb01'; }
.icon-exclamation-octagon:before { content: '\eb02'; }
.icon-exclamation-triangle:before { content: '\eb03'; }
.icon-exit:before { content: '\eb05'; }
.icon-expand-arrows-alt:before { content: '\eb07'; }
.icon-send:before { content: '\eb09'; }
.icon-facebook-official:before { content: '\eb10'; }
.icon-fast-mail:before { content: '\eb12'; }
.icon-favorite:before { content: '\eb13'; }
.icon-feedback:before { content: '\eb14'; }
.icon-file-alt:before { content: '\eb15'; }
.icon-file-bookmark-alt:before { content: '\eb18'; }
.icon-file-check-alt:before { content: '\eb19'; }
.icon-file-check:before { content: '\eb1a'; }
.icon-file-copy-alt:before { content: '\eb1b'; }
.icon-file-edit-alt:before { content: '\eb1e'; }
.icon-file-heart:before { content: '\eb21'; }
.icon-file-info-alt:before { content: '\eb22'; }
.icon-list-2:before { content: '\eb23'; }
.icon-list:before { content: '\eb24'; }
.icon-merge:before { content: '\eb25'; }
.icon-file-medical-alt:before { content: '\eb27'; }
.icon-file-medical:before { content: '\eb28'; }
.icon-file-plus-alt:before { content: '\eb2c'; }
.icon-file-plus:before { content: '\eb2d'; }
.icon-file-question-alt:before { content: '\eb2e'; }
.icon-file-question:before { content: '\eb2f'; }
.icon-split:before { content: '\eb30'; }
.icon-file-search-alt:before { content: '\eb31'; }
.icon-file-slash:before { content: '\eb32'; }
.icon-file-times:before { content: '\eb34'; }
.icon-file-upload-alt:before { content: '\eb35'; }
.icon-file-1:before { content: '\eb37'; }
.icon-files-landscapes-alt:before { content: '\eb38'; }
.icon-files-landscapes:before { content: '\eb39'; }
.icon-film:before { content: '\eb3a'; }
.icon-gif-black:before { content: '\eb3c'; }
.icon-fire:before { content: '\eb3d'; }
.icon-attach:before { content: '\eb3e'; }
.icon-flask:before { content: '\eb3f'; }
.icon-flower:before { content: '\eb40'; }
.icon-focus-add:before { content: '\eb41'; }
.icon-focus-target:before { content: '\eb42'; }
.icon-focus:before { content: '\eb43'; }
.icon-folder-check:before { content: '\eb44'; }
.icon-folder-download:before { content: '\eb45'; }
.icon-folder-exclamation:before { content: '\eb46'; }
.icon-folder-lock:before { content: '\eb49'; }
.icon-folder-medical:before { content: '\eb4a'; }
.icon-folder-minus:before { content: '\eb4b'; }
.icon-folder-network:before { content: '\eb4c'; }
.icon-folder-question:before { content: '\eb4e'; }
.icon-folder-slash:before { content: '\eb4f'; }
.icon-folder-times:before { content: '\eb50'; }
.icon-folder-upload:before { content: '\eb51'; }
.icon-folder-2:before { content: '\eb52'; }
.icon-food:before { content: '\eb53'; }
.icon-forwaded-call:before { content: '\eb57'; }
.icon-forward:before { content: '\eb58'; }
.icon-frown:before { content: '\eb59'; }
.icon-whatsapp-fill:before { content: '\eb5a'; }
.icon-gift:before { content: '\eb5b'; }
.icon-twilio:before { content: '\eb5c'; }
.icon-line:before { content: '\eb5d'; }
.icon-glass-martini-alt:before { content: '\eb5e'; }
.icon-glass-martini:before { content: '\eb5f'; }
.icon-glass-tea:before { content: '\eb60'; }
.icon-glass:before { content: '\eb61'; }
.icon-csv-export:before { content: '\eb62'; }
.icon-gold:before { content: '\eb63'; }
.icon-csv:before { content: '\eb64'; }
.icon-google-drive:before { content: '\eb65'; }
.icon-google-hangouts:before { content: '\eb66'; }
.icon-google-play:before { content: '\eb67'; }
.icon-google:before { content: '\eb68'; }
.icon-graduation-hat:before { content: '\eb69'; }
.icon-graph-bar:before { content: '\eb6a'; }
.icon-grid:before { content: '\eb6b'; }
.icon-grids:before { content: '\eb6c'; }
.icon-rar:before { content: '\eb6d'; }
.icon-txt:before { content: '\eb6e'; }
.icon-grin:before { content: '\eb6f'; }
.icon-zip:before { content: '\eb70'; }
.icon-hdd:before { content: '\eb71'; }
.icon-headphones-alt:before { content: '\eb72'; }
.icon-heart-alt:before { content: '\eb74'; }
.icon-heart-medical:before { content: '\eb75'; }
.icon-heart-rate:before { content: '\eb76'; }
.icon-heart-2:before { content: '\eb77'; }
.icon-history-alt:before { content: '\eb79'; }
.icon-history:before { content: '\eb7a'; }
.icon-home-alt:before { content: '\eb7b'; }
.icon-hourglass:before { content: '\eb7f'; }
.icon-hunting:before { content: '\eb80'; }
.icon-image-check:before { content: '\eb83'; }
.icon-image-edit:before { content: '\eb85'; }
.icon-image-plus:before { content: '\eb88'; }
.icon-image-v:before { content: '\eb90'; }
.icon-image:before { content: '\eb91'; }
.icon-import:before { content: '\eb93'; }
.icon-incoming-call:before { content: '\eb94'; }
.icon-info-circle:before { content: '\eb95'; }
.icon-invoice:before { content: '\eb9a'; }
.icon-key-skeleton-alt:before { content: '\eb9c'; }
.icon-keyboard-alt:before { content: '\eb9d'; }
.icon-keyhole-circle:before { content: '\eba1'; }
.icon-keyhole-square:before { content: '\eba3'; }
.icon-kid:before { content: '\eba4'; }
.icon-label-alt:before { content: '\eba5'; }
.icon-label:before { content: '\eba6'; }
.icon-lamp:before { content: '\eba7'; }
.icon-laptop-1:before { content: '\eba9'; }
.icon-layer-group:before { content: '\ebac'; }
.icon-layers-1:before { content: '\ebae'; }
.icon-left-arrow-from-left:before { content: '\ebaf'; }
.icon-left-arrow-to-left:before { content: '\ebb0'; }
.icon-lightbulb-alt:before { content: '\ebb4'; }
.icon-line-1:before { content: '\ebb7'; }
.icon-link-alt:before { content: '\ebb8'; }
.icon-link-broken:before { content: '\ebb9'; }
.icon-link-h:before { content: '\ebba'; }
.icon-link-1:before { content: '\ebbb'; }
.icon-list-ui-alt:before { content: '\ebbc'; }
.icon-list-ul:before { content: '\ebbd'; }
.icon-location-arrow-alt:before { content: '\ebbe'; }
.icon-location-arrow:before { content: '\ebbf'; }
.icon-location-point:before { content: '\ebc1'; }
.icon-lock-access:before { content: '\ebc3'; }
.icon-lock-alt:before { content: '\ebc4'; }
.icon-lock-open-alt:before { content: '\ebc5'; }
.icon-lock-slash:before { content: '\ebc6'; }
.icon-lock:before { content: '\ebc7'; }
.icon-mailbox-alt:before { content: '\ebc8'; }
.icon-mailbox:before { content: '\ebc9'; }
.icon-map-marker:before { content: '\ebd2'; }
.icon-map-pin-alt:before { content: '\ebd3'; }
.icon-map:before { content: '\ebd5'; }
.icon-mars:before { content: '\ebd6'; }
.icon-medal-1:before { content: '\ebd8'; }
.icon-medical-square-full:before { content: '\ebd9'; }
.icon-medkit:before { content: '\ebdc'; }
.icon-meeting-board:before { content: '\ebdd'; }
.icon-meh:before { content: '\ebe0'; }
.icon-message:before { content: '\ebe1'; }
.icon-metro:before { content: '\ebe2'; }
.icon-microphone-2:before { content: '\ebe4'; }
.icon-minus-circle-1:before { content: '\ebe5'; }
.icon-minus-square:before { content: '\ebe7'; }
.icon-minus-1:before { content: '\ebe8'; }
.icon-missed-call:before { content: '\ebe9'; }
.icon-mobile-android-alt:before { content: '\ebeb'; }
.icon-mobile-android:before { content: '\ebec'; }
.icon-mobile-vibrate:before { content: '\ebed'; }
.icon-modem:before { content: '\ebee'; }
.icon-money-bill:before { content: '\ebf0'; }
.icon-money-insert:before { content: '\ebf1'; }
.icon-money-stack:before { content: '\ebf2'; }
.icon-money-withdraw:before { content: '\ebf3'; }
.icon-money-withdrawal:before { content: '\ebf4'; }
.icon-moneybag:before { content: '\ebf6'; }
.icon-monitor-heart-rate:before { content: '\ebf7'; }
.icon-monitor-1:before { content: '\ebf8'; }
.icon-moon-1:before { content: '\ebfa'; }
.icon-mountains-sun:before { content: '\ebfc'; }
.icon-mountains:before { content: '\ebfd'; }
.icon-mouse-alt:before { content: '\ebfe'; }
.icon-multiply:before { content: '\ec00'; }
.icon-music-note:before { content: '\ec01'; }
.icon-music-1:before { content: '\ec03'; }
.icon-n-a:before { content: '\ec04'; }
.icon-navigator:before { content: '\ec05'; }
.icon-nerd:before { content: '\ec06'; }
.icon-newspaper:before { content: '\ec07'; }
.icon-no-entry:before { content: '\ec09'; }
.icon-notebooks:before { content: '\ec0a'; }
.icon-notes:before { content: '\ec0b'; }
.icon-outgoing-call:before { content: '\ec0c'; }
.icon-package:before { content: '\ec0d'; }
.icon-padlock-3:before { content: '\ec0e'; }
.icon-paint-tool:before { content: '\ec0f'; }
.icon-palette:before { content: '\ec10'; }
.icon-panorama-h:before { content: '\ec12'; }
.icon-panorama-v:before { content: '\ec13'; }
.icon-paperclip:before { content: '\ec14'; }
.icon-paragraph:before { content: '\ec15'; }
.icon-parcel:before { content: '\ec16'; }
.icon-parking-square:before { content: '\ec17'; }
.icon-pause-circle:before { content: '\ec18'; }
.icon-pause-1:before { content: '\ec19'; }
.icon-pen-1:before { content: '\ec1a'; }
.icon-phone-alt:before { content: '\ec1d'; }
.icon-phone-pause:before { content: '\ec1e'; }
.icon-phone-slash:before { content: '\ec1f'; }
.icon-phone-times:before { content: '\ec20'; }
.icon-phone-volume:before { content: '\ec21'; }
.icon-phone:before { content: '\ec22'; }
.icon-picture-2:before { content: '\ec23'; }
.icon-plane-arrival:before { content: '\ec24'; }
.icon-plane-departure:before { content: '\ec25'; }
.icon-plane-fly:before { content: '\ec26'; }
.icon-play-circle:before { content: '\ec28'; }
.icon-play-1:before { content: '\ec29'; }
.icon-plug-3:before { content: '\ec2a'; }
.icon-plus-circle:before { content: '\ec2b'; }
.icon-plus-square:before { content: '\ec2c'; }
.icon-plus-1:before { content: '\ec2d'; }
.icon-podium:before { content: '\ec2e'; }
.icon-postcard:before { content: '\ec30'; }
.icon-pound:before { content: '\ec32'; }
.icon-prescription-bottle:before { content: '\ec34'; }
.icon-presentation-check:before { content: '\ec35'; }
.icon-presentation-line:before { content: '\ec37'; }
.icon-presentation-lines-alt:before { content: '\ec38'; }
.icon-presentation-minus:before { content: '\ec39'; }
.icon-presentation-play:before { content: '\ec3a'; }
.icon-presentation:before { content: '\ec3d'; }
.icon-previous:before { content: '\ec3e'; }
.icon-pricetag-alt:before { content: '\ec3f'; }
.icon-print:before { content: '\ec41'; }
.icon-process:before { content: '\ec42'; }
.icon-processor:before { content: '\ec43'; }
.icon-pump:before { content: '\ec44'; }
.icon-puzzle-piece:before { content: '\ec45'; }
.icon-question-circle:before { content: '\ec46'; }
.icon-raindrops-alt:before { content: '\ec47'; }
.icon-receipt-alt:before { content: '\ec49'; }
.icon-receipt:before { content: '\ec4a'; }
.icon-redo:before { content: '\ec4c'; }
.icon-refresh-1:before { content: '\ec4d'; }
.icon-repeat-3:before { content: '\ec4f'; }
.icon-robot:before { content: '\ec53'; }
.icon-github-circled:before { content: '\ec54'; }
.icon-rotate-360:before { content: '\ec55'; }
.icon-youtube-play:before { content: '\ec56'; }
.icon-rss-interface:before { content: '\ec57'; }
.icon-rss:before { content: '\ec58'; }
.icon-scenery:before { content: '\ec5b'; }
.icon-schedule:before { content: '\ec5c'; }
.icon-science:before { content: '\ec5d'; }
.icon-earthgrid:before { content: '\ec5e'; }
.icon-scroll-h:before { content: '\ec5f'; }
.icon-scroll:before { content: '\ec60'; }
.icon-search-alt:before { content: '\ec61'; }
.icon-search-minus:before { content: '\ec62'; }
.icon-search-plus:before { content: '\ec63'; }
.icon-search-1:before { content: '\ec64'; }
.icon-server-alt:before { content: '\ec66'; }
.icon-server-network:before { content: '\ec69'; }
.icon-share-alt:before { content: '\ec6c'; }
.icon-shield-check:before { content: '\ec6d'; }
.icon-shield-exclamation:before { content: '\ec6e'; }
.icon-shield-slash:before { content: '\ec70'; }
.icon-shield-1:before { content: '\ec71'; }
.icon-ship:before { content: '\ec72'; }
.icon-shopping-cart-alt:before { content: '\ec75'; }
.icon-shovel:before { content: '\ec77'; }
.icon-sign-alt:before { content: '\ec7b'; }
.icon-sign-in-alt:before { content: '\ec7c'; }
.icon-sign-left:before { content: '\ec7d'; }
.icon-sign-out-alt:before { content: '\ec7e'; }
.icon-sign-right:before { content: '\ec7f'; }
.icon-signal-alt-3:before { content: '\ec80'; }
.icon-signal-alt:before { content: '\ec81'; }
.icon-sitemap-1:before { content: '\ec85'; }
.icon-skip-forward-alt:before { content: '\ec86'; }
.icon-skip-forward-circle:before { content: '\ec87'; }
.icon-slack:before { content: '\ec8a'; }
.icon-sliders-v:before { content: '\ec8c'; }
.icon-smile:before { content: '\ec93'; }
.icon-sort-amount-down:before { content: '\ec98'; }
.icon-sort-amount-up:before { content: '\ec99'; }
.icon-sort:before { content: '\ec9a'; }
.icon-sorting:before { content: '\ec9b'; }
.icon-space-key:before { content: '\ec9c'; }
.icon-square-shape:before { content: '\eca2'; }
.icon-star-1:before { content: '\eca6'; }
.icon-step-backward-alt:before { content: '\eca7'; }
.icon-step-backward:before { content: '\eca9'; }
.icon-step-forward:before { content: '\ecaa'; }
.icon-stopwatch:before { content: '\ecad'; }
.icon-store:before { content: '\ecaf'; }
.icon-subject:before { content: '\ecb0'; }
.icon-subway:before { content: '\ecb2'; }
.icon-suitcase:before { content: '\ecb4'; }
.icon-sun-1:before { content: '\ecb5'; }
.icon-sunset:before { content: '\ecb6'; }
.icon-swatchbook:before { content: '\ecb8'; }
.icon-swimmer:before { content: '\ecb9'; }
.icon-sync-exclamation:before { content: '\ecba'; }
.icon-sync:before { content: '\ecbc'; }
.icon-table:before { content: '\ecbd'; }
.icon-tablet:before { content: '\ecbe'; }
.icon-tachometer-fast:before { content: '\ecbf'; }
.icon-tag-alt:before { content: '\ecc0'; }
.icon-tag-2:before { content: '\ecc1'; }
.icon-taxi:before { content: '\ecc2'; }
.icon-tear:before { content: '\ecc3'; }
.icon-technology:before { content: '\ecc4'; }
.icon-telegram-alt:before { content: '\ecc5'; }
.icon-temperature-half:before { content: '\ecc9'; }
.icon-th:before { content: '\ecd4'; }
.icon-thumbs-down:before { content: '\ecd6'; }
.icon-thumbs-up:before { content: '\ecd7'; }
.icon-ticket:before { content: '\ecd8'; }
.icon-times-circle:before { content: '\ecd9'; }
.icon-times-square:before { content: '\ecda'; }
.icon-times:before { content: '\ecdb'; }
.icon-top-arrow-to-top:before { content: '\ecdd'; }
.icon-trash-alt:before { content: '\ece0'; }
.icon-trash:before { content: '\ece1'; }
.icon-trees:before { content: '\ece2'; }
.icon-triangle:before { content: '\ece3'; }
.icon-trophy:before { content: '\ece4'; }
.icon-trowel:before { content: '\ece5'; }
.icon-truck:before { content: '\ece6'; }
.icon-tv-retro:before { content: '\ece8'; }
.icon-twitter-alt:before { content: '\ece9'; }
.icon-umbrella-2:before { content: '\eceb'; }
.icon-university:before { content: '\ecee'; }
.icon-unlock-alt:before { content: '\ecef'; }
.icon-unlock:before { content: '\ecf0'; }
.icon-upload-6:before { content: '\ecf2'; }
.icon-usd-circle:before { content: '\ecf3'; }
.icon-usd-square:before { content: '\ecf4'; }
.icon-user-check:before { content: '\ecf5'; }
.icon-user-circle:before { content: '\ecf6'; }
.icon-user-minus:before { content: '\ecf9'; }
.icon-user-plus:before { content: '\ecfa'; }
.icon-user-square:before { content: '\ecfb'; }
.icon-user-6:before { content: '\ecfd'; }
.icon-users-alt:before { content: '\ecfe'; }
.icon-utensils:before { content: '\ed00'; }
.icon-video:before { content: '\ed03'; }
.icon-voicemail-rectangle:before { content: '\ed04'; }
.icon-voicemail:before { content: '\ed05'; }
.icon-volume-2:before { content: '\ed0a'; }
.icon-wallet:before { content: '\ed0b'; }
.icon-watch-alt:before { content: '\ed0c'; }
.icon-web-grid-alt:before { content: '\ed11'; }
.icon-web-grid:before { content: '\ed12'; }
.icon-web-section-alt:before { content: '\ed13'; }
.icon-weight:before { content: '\ed16'; }
.icon-whatsapp-2:before { content: '\ed17'; }
.icon-window-grid:before { content: '\ed1d'; }
.icon-window-maximize:before { content: '\ed1e'; }
.icon-window-section:before { content: '\ed20'; }
.icon-window:before { content: '\ed21'; }
.icon-wrench:before { content: '\ed24'; }
.icon-yen:before { content: '\ed27'; }
.icon-mail-alt:before { content: '\f0e0'; }
.icon-doc-inv:before { content: '\f15b'; }
.icon-doc-text-inv:before { content: '\f15c'; }
.icon-git:before { content: '\f1d3'; }
.icon-wechat:before { content: '\f1d7'; }
.icon-whatsapp:before { content: '\f232'; }
.icon-comment:before { content: '\f4ac'; }